{{/* Display the given pages as a structured hierarchy,
    with links to each page
    TODO: eventually replace this with proper nested lists,
        possibly with collapsible sections?
*/}}
<ul>
    {{ $indent := 0 }}
    {{ $seen := slice }}
    {{ range sort . ".Path" "asc" }}
        {{ range $i, $p := .Ancestors.Reverse }}
            {{ $indent = add $i 1 }}
            {{ if not (or (in $seen .Permalink ) (lt $i 2)) }}
                {{ $class := "" }}
                {{ if eq .Type "place"}}{{ $class = "place" }}{{ end }}
                {{ if eq $i 2 }}{{ $class = print $class " province" }}
                {{ end }}
                <li style="margin-left: {{ mul 2 $i }}em"{{ with $class }} class="{{ . }}"{{ end }}>
                    {{ if .Title }}
                        {{ .Title }}
                    {{ else }}
                        {{/* if no _index.md content, infer title from path */}}
                        [{{ index (split .Path "/") $i }}]
                    {{ end  }}
                </li>
                {{ $seen = $seen | append .Permalink }}
            {{ end }}
        {{ end }}
        {{ $class := "" }}
        {{ if eq .Type "place" }}
            {{ $seen = $seen | append .Permalink }}
            {{ $class = "place" }}
            {{ if eq $indent 2 }}{{ $class = (print $class " province") }}
            {{end}}
        {{ end }}
        <li style="margin-left: {{ mul 2 $indent }}em"{{ with $class }} class="{{ . }}"{{ end }}>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
        </li>
    {{ end }}
</ul>