<!-- This file builds the search index
     This actual search is done in search.js -->
<script>
// build the search index from each garden page (TODO: include place pages -- but how to display in results?)
window.pageData = {
{{- range $ri, $rv := where (sort .Site.Pages "Path") "Type" "garden" -}}
    {{- if .Title -}}
        {{/* add path (province, location) and frontmatter (author, contributor) to fulltext */}}
        {{- $place := title (replaceRE "[\\W_]+" " " .Path) -}}
        {{- $content := print .Plain $place " Author: " .Params.Author " Contributor: " .Params.Contributor " " }}
        {{ $smallcrumbs := "" }}
        {{ range $i, $p := .Ancestors.Reverse }}
            {{ if gt $i 1 }}
                {{ if ne $i 2 }}{{ $smallcrumbs = print $smallcrumbs " / " }}{{ end }} 
                {{ $smallcrumbs = print $smallcrumbs .Title }}
            {{ end }}
        {{ end }}
"{{ $ri }}": {
    "title": "{{ .Title }}",
    "smallcrumbs": {{ $smallcrumbs }},
    "content": {{ $content }},
    "url": {{ .Permalink }},
    "draft": {{ .Draft }},
    "latlon": {{ .Params.latlon }} },
    {{ end -}}
{{- end -}}
}
</script>
<script src="{{ .Site.BaseURL }}js/lunr-2.3.9.min.js"></script>
<script src="{{ .Site.BaseURL }}js/search.js"></script>
