{{- $path := .Path -}}

{{/* get the current place name */}}
{{- $thisplace := partial "this-place.html" .Path -}}

{{ $places := where (where .Pages "Type" "place") "Params.author" "gt" "" }}
{{ $gardens := where .RegularPagesRecursive "Type" "garden" }}

{{/* Build a list of sortable place names */}}
{{ $sortable := slice }}
{{ range $places }}
    {{/* force roman rumerals 1-39 to sort better (e.g. IX comes after VIII) */}}
    {{ $s := replaceRE "([IVX]*X[IVX]*)" "zzz$1" .Title }}
    {{ if $s }}
        {{ $sortable = $sortable | append $s }}
    {{ end }}
{{ end }}

{{ if $sortable}}
<div class='sublocations'>
    <h2>
        {{ if eq .Title "All Gardens" }}Provinces{{ else }}Places in {{ .Title }}{{ end }}:
    </h2>
    <ul>
        {{ range sort $sortable }}
            {{/* undo the roman sorting hack */}}
            {{ $v := replaceRE "zzz" "" . }}
            {{ if $v }}
                {{ range where $places "Title" $v }}
                    {{ $count := len .RegularPagesRecursive }}
                    {{ if $count }}
                      <li><a href="{{ .Permalink }}">{{ .Title }}</a>
                      ({{ len .RegularPagesRecursive }} gardens)</li>
                    {{ end }}
                {{ end }}
            {{ end }}
        {{ end }}
    </ul>
</div>
{{ end }}
